    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("bg.jpg");
        backdrop-filter: blur(2px);

        --background-color: #F0F0F0;
        --text-color: #0D1B2A;
        --accent-color: #53687E;

        font-family: Arial, Helvetica, sans-serif;
        color: var(--text-color);
        background-color: var(--background-color);

        transition: background-color .25s;
    }

    body:has(#darkmode-toggle:checked) {
        --background-color: #0D1B2A;
        --text-color: #F0F0F0;
        --accent-color: #00FFFF;
    }

    .main {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        max-width: 600px;

        div {
            max-width: 100%;
            margin-bottom: 1em;
        }
    }

    @media screen and (max-width: 600px) {
        .main {
            width: 100%;
        }
    }

    .datetime,
    .sobriety,
    .qotd,
    .journal,
    .affirmation {
        text-align: center;
    }

    .sobriety {
        cursor: pointer;
    }

    .journal {
        text-align: left;
    }

    .datetime {
        font-size: 2em;
    }

    .affirmation {
        font-style: italic;
    }

    .journal {
        display: block;
        font-size: 16px;
        background-color: color-mix(in srgb, var(--background-color), transparent 50%);
        padding: 1em;
        border: 5px solid var(--accent-color);
        border-radius: 1em;
    }

    div.journal-toolbar {
        display: flex;
        justify-content: end;
        margin-top: .25em;
        margin-bottom: .25em;
    }

    /* Image background backdrop */
    .image-backdrop {
        position: fixed;
        inset: 0;
        background-color: color-mix(in srgb, var(--background-color), transparent 80%);
    }

    /* Modal backdrop */
    .modal-backdrop {
        position: fixed;
        inset: 0;
        background-color: color-mix(in srgb, var(--background-color), transparent 30%);
        z-index: 1000;
    }

    /* Center the dialog */
    dialog[open] {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        z-index: 1001;
        border-radius: 8px;
        box-shadow: 0 2px 24px color-mix(in srgb, var(--text-color), transparent 20%);
        padding: 2em 2em 1em 2em;
    }

    hr {
        border: none;
        border-top: 1px solid var(--accent-color);
        margin: 1em 0;
    }

    @media print {
        .no-print {
            display: none;
        }

        body,
        body:has(#darkmode-toggle:checked) {
            --background-color: white;
            --text-color: black;
            --accent-color: black;
        }
    }